@charset "UTF-8";

body{
  font-family: '游明朝', constantia, serif;
}

/* -------------------- */

#menu{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(165, 5, 5);
  color: #fff;
  z-index: 3;
  transform: translateY(-1000px);
  transition: transform .5s;
  overflow-y: scroll;
}

#menu.open{
  transform: none;
}

#menu h1{
  margin: 100px 0 0 50px;
  font-size: 24px;
  font-weight: bold;
  line-height: 3;
}

#menu h1:nth-of-type(2), #menu h1:nth-of-type(3){
  margin-top: 0;
}

#menu ul{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

#menu ul li{
  width: 50%;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  border-top: 8px solid #ddd;
  border-left: 8px solid #ddd;
  border-bottom: 8px solid #bbb;
  border-right: 8px solid #bbb;
  background-color: #fff;
  color: #000;
}

#menu ul li a{
  display: block;
}

#menu small{
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 5;
}

/* -------------------- */

header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

header i{
  position: relative;
  margin-top: 10px;
  margin-right: 32px;
  font-size: 32px;
  cursor: pointer;
}

header i.hidden{
  display: none;
}

/* -------------------- */

main .title{
  position: relative;
  margin: 32px 0 0 52px;
  transform: translateY(15px);
  opacity: 0;
  transition: all .5s;
}

main .title.appear{
  transform: none;
  opacity: 1;
}

main .title h1{
  position: relative;
  font-size: 28px;
  font-weight: bold;
  margin-left: 8px;
  z-index: 1;
}

main .title h1::after{
  content: attr(data-subTitle);
  font-size: 24px;
}

main .title span{
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 8px;
  background-color: rgb(240, 100, 40);
}

main .title span::before{
  position: absolute;
  bottom: 0;
  left: -24px;
  content: '';
  border-left: 24px solid transparent;
  border-bottom: 24px solid rgb(240, 100, 40);
}

main table, main #achievement, main #work, main #profile, main #recruit, main #contact{
  width: 90%;
  margin:36px auto 0;
  transform: translateY(15px);
  opacity: 0;
  transition: all .5s .3s;
}

main table.appear{
  transform: none;
  opacity: 1;
}

main table tbody tr{
  line-height: 2;
  border-bottom: 1px solid #000;
}

main table tbody tr td{
  font-size: 16px;
  padding-left: 18px;
}

main table tbody tr td:nth-of-type(odd){
  color: #fff;
  background-color: rgba(50, 80, 120, 0.5);
}

main table tbody tr:nth-of-type(2) td:nth-of-type(odd){
  background-color: rgba(80, 120, 50, 0.5);
}

main table tbody tr:nth-of-type(3) td:nth-of-type(odd){
  background-color: rgba(120, 50, 80, 0.5);
}

main table tbody tr:nth-of-type(4) td:nth-of-type(odd){
  background-color: rgba(80, 50, 120, 0.5);
}

main table tbody tr:nth-of-type(5) td:nth-of-type(odd){
  background-color: rgba(50, 120, 80, 0.5);
}

main table tbody tr:nth-of-type(6) td:nth-of-type(odd){
  background-color: rgba(120, 80, 50, 0.5);
}

main #achievement.appear{
  transform: none;
  opacity: 1;
}

main #achievement section{
  margin-bottom: 32px;
}

main #achievement section a{
  font-size: 20px;
  font-weight: bold;
  padding: 4px 12px;
  color: #fff;
  background-color: rgba(120, 50, 80, 0.5);
}

main #achievement section:nth-of-type(2) a{
  background-color: rgba(80, 120, 50, 0.5);
}

main #achievement section:nth-of-type(3) a{
  background-color: rgba(50, 80, 120, 0.5);
}

main #achievement section p{
  font-size: 16px;
  margin: 16px 0;
  line-height: 1.5;
}

main #achievement section img{
  width: 100%;
  height: 420px;
  object-fit: cover;
}

main #work.appear{
  transform: none;
  opacity: 1;
}

main #work li{
  position: relative;
  text-align: center;
  margin-top: 16px;
  font-size: 18px;
  z-index: 1;
}

main #work li span{
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  width: 150px;
  height: 8px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: rgba(230, 100, 50, 0.5);
  z-index: -1;
}

main #work li:nth-of-type(2) span{
  background-color: rgba(200, 130, 50, 0.5);
}

main #work li:nth-of-type(3) span{
  background-color: rgba(165, 165, 50, 0.5);
}

main #work li:nth-of-type(4) span{
  background-color: rgba(130, 200, 50, 0.5);
}

main #work li:nth-of-type(5) span{
  background-color: rgba(100, 230, 50, 0.5);
}

main #recruit.appear{
  transform: none;
  opacity: 1;
}

main #recruit li{
  position: relative;
  text-align: center;
  font-size: 18px;
  width: 280px;
  margin: 16px auto 0;
  border-bottom: 1px solid rgb(100, 250, 100);
}

main #recruit li:nth-last-of-type(even){
  border-bottom: 1px solid rgb(100, 100, 250);
}

main #recruit li::before, main #recruit li::after{
  position: absolute;
  top: -2px;
  left: -12px;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid rgb(100, 250, 100);
  background-color: rgb(50, 170, 50);
}

main #recruit li::after{
  left: auto;
  right: -12px;
}

main #recruit li:nth-of-type(even)::before, main #recruit li:nth-of-type(even)::after{
  border: 4px solid rgb(100, 100, 250);
  background-color: rgb(50, 50, 170);
}

main #profile.appear{
  transform: none;
  opacity: 1;
}

main #profile h2{
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

main #profile h2 span{
  font-size: 32px;
}

main #contact.appear{
  transform: none;
  opacity: 1;
}

main #contact p{
  font-size: 18px;
}

main #contact p + p{
  margin: 24px 0 36px;
}

main #contact form{
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  width: 300px;
}

main #contact form .form{
  margin-bottom: 24px;
}

main #contact form .form > input{
  font-size: 18px;
  line-height: 1.5;
  margin-left: 12px;
  padding-left: 4px;
  border: 1px solid #000;
}

main #contact form .form > textarea{
  display: block;
  font-size: 16px;
  line-height: 1.2;
  margin: 12px auto 0;
  padding-left: 4px;
  border: 1px solid #000;
}

main #contact form button{
  width: 80px;
  margin-left: auto;
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(80, 220, 220);
  box-shadow: 0 4px 0 rgb(50, 180, 180);
}

main #contact #icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 24px 0 0 12px;
}

main #contact #icons i{
  display: block;
  font-size: 32px;
  /* padding: 4px 8px; */
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 12px;
  color: #fff;
  background-color: rgb(50, 180, 50);
}

/* _::-webkit-full-page-media, _:future, :root main #contact #icons i{
  padding: 8px 6px 0 8px;
} */

main #contact  #icons a + a > i{
  background: linear-gradient(to bottom, rgb(180, 60, 150), rgb(240, 200, 100))
}

main .titleText{
  font-size: 16px;
  line-height: 1.5;
  width: 90%;
  margin: 24px auto 0;
  transform: translateY(15px);
  opacity: 0;
  transition: all .5s .6s;
}

main .titleText.appear{
  transform: none;
  opacity: 1;
}

main .titleImage{
  display: block;
  width: 90%;
  max-height: 420px;
  object-fit: cover;
  margin: 24px auto 0;
  transform: translateY(15px);
  opacity: 0;
  transition: all .5s .9s;
}

main .titleImage.appear{
  transform: none;
  opacity: 1;
}

/* -------------------- */

footer{
  margin-top: 36px;
  text-align: center;
  color: #fff;
  background-color: rgb(165, 5, 5);
}

footer ul{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

footer ul li{
  width: 50%;
  font-size: 16px;
  line-height: 2.5;
  border-bottom: 1px solid #fff;
}

footer ul li:nth-of-type(even){
  border-left: 1px dotted #fff;
}

footer small{
  font-size: 12px;
  font-weight: bold;
  line-height: 5;
}

@media(max-width: 600px){
  main .title h1{
    font-size: 26px;
  }
  
  main .title h1::after{
    font-size: 20px;
  }

  main #contact p{
    font-size: 16px;
  }

  /* main #contact #icons i{
    padding: 4px 8px 0;
  } */
}